node_modules/
apps/*/node_modules/

.cache/
.env
dist/

*-firebase-adminsdk-*.json
*-publisher-*.json
keystore.properties

*.crt
*.key
*.csr

apps/mobile/android/.idea/deploymentTargetDropDown.xml

_*.md
report.json
eslint_report.json
