<!DOCTYPE html>
<html>
    <body>
        <div id="app">
            <div v-if="token">
                <p>
                    Du bevakar nya friträningar på denna enhet.
                </p>
                <button @click="unsubscribe" class="text-white text-lg cursor-pointer font-bold btn-red border-round transition-colors transition-duration-150 p-2 border-none">
                    Sluta bevaka
                </button>
            </div>
            <div v-else>
                <p>
                    Du kan bevaka nya friträningar. Då kommer du att få notiser på denna enhet när en fritärning läggs upp.
                </p>
                <button @click="subscribe" class="text-white text-lg cursor-pointer font-bol btn-red border-round transition-colors transition-duration-150 p-2 border-none">
                    Börja bevaka
                </button>
            </div>
            <div>
                <p v-for="msg in msgs">{{ msg }}</p>
            </div>
        </div>
        <script type="importmap">
            {
              "imports": {
                "firebase/app": "https://www.gstatic.com/firebasejs/9.23.0/firebase-app.js",
                "firebase/messaging": "https://www.gstatic.com/firebasejs/9.23.0/firebase-messaging.js",
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
        </script>
        <script type="module">

            import { initializeApp } from 'firebase/app';
            import { getMessaging, getToken, onMessage } from 'firebase/messaging'
            import { ref, createApp, onMounted } from 'vue'

            const vapidKey = 'BMTIrHUbvBXlQpWWeIDc2IMD_CPye0EW-XmOqzAtBvMkKy8bsRfx5YEfvQQ4Gp98XV2XAOcaz6o-x2bisVBNWXM'

            let serviceWorkerRegistration = null
            createApp({
                setup() {
                    const token = ref('')
                    const msgs = ref([])

                    function log(...other) {
                        console.log(...other);
                        msgs.value = [...msgs.value, ...other.map(str => typeof(str) ==='string' ? str : JSON.stringify(str, null, 2))]
                    }
                    function clear() {
                        msgs.value = []
                    }

                    const requestAndSubscribe = async ()  => {
                        await requestPermission()
                        await subscribe()
                    }

                    const requestPermission = async () => {
                        const permission = await Notification.requestPermission()
                        if (permission === 'granted') {
                            log('Notification permission granted.');
                            const messaging = getMessaging();

                            try {
                                const currentToken = await getToken(messaging, { vapidKey, serviceWorkerRegistration });
                                token.value = currentToken
                            } catch (e) {
                                log('Exception: ' + e)
                            }
                        } else {
                            log('Notification permission: ' + permission)
                        }
                    }

                    const subscribe = async () => {
                        const query = new URLSearchParams()
                        query.append('token', token.value)
                        query.append('topic', 'calendar-' + 337667)

                        const resp = await fetch('subscribe?' + query.toString(), {  method: 'POST' })
                        if (resp.ok) {
                            log('Subscribe success', await resp.json())
                        } else {
                            log('Subscribe failed', resp.status, resp.statusText)
                        }
                    }

                    const unsubscribe = async () => {
                        const query = new URLSearchParams()
                        query.append('token', token.value)
                        query.append('topic', 'calendar-' + 337667)

                        const resp = await fetch('unsubscribe?' + query.toString(), {  method: 'POST' })
                        if (resp.ok) {
                            log('Unsubscribe success', await resp.json())
                        } else {
                            log('Unsubscribe failed', resp.status, resp.statusText)
                        }
                    }

                    onMounted(async () => {
                        const firebaseConfig = {
                            apiKey: "AIzaSyBJ_cRfI7tvVZ_xlIk9QqF6eN29YD6xOAk",
                            authDomain: "nackswinget-af7ef.firebaseapp.com",
                            projectId: "nackswinget-af7ef",
                            storageBucket: "nackswinget-af7ef.appspot.com",
                            messagingSenderId: "560237127162",
                            appId: "1:560237127162:web:2e12c34e9e8fa521997043"
                        };

                        const app = initializeApp(firebaseConfig);

                        const messaging = getMessaging();
                        onMessage(messaging, (payload) => {
                            log('Message received. ', payload);
                        })

                        if ('serviceWorker' in navigator) {
                            try {
                                serviceWorkerRegistration = await navigator.serviceWorker.register('./firebase-messaging-sw.js')
                            } catch (e) {
                                serviceWorkerRegistration = await navigator.serviceWorker.register('./notifications-api/firebase-messaging-sw.js')
                            }
                            console.log('Registration successful, scope is:', serviceWorkerRegistration.scope);
                        }

                        const currentToken = await getToken(messaging, { vapidKey, serviceWorkerRegistration });
                        token.value = currentToken
                    })

                    return {
                        token,
                        subscribe,
                        unsubscribe,
                        msgs,
                        clear
                    }
                }
            }).mount('#app')

        </script>
        <style>
            :root {
                --nsw-red-lighter: #d2174c;
                --nsw-red: #F9064B;
                --nsw-red-darker: #d40741;
            }
            .btn-red {
                background-color: var(--nsw-red);
            }
            .btn-red:hover {
                background-color: var(--nsw-red-lighter) !important;
            }
            .btn-red:active {
                background-color: var(--nsw-red-darker) !important;
            }
        </style>
        <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
        <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/themes/primeone-light.css">
    </body>
</html>