<!DOCTYPE html>
<html>
    <body>
        <div id="app">
            <h1>Welcome</h1>
            <div v-if="token">
                Token: <pre>{{ token }}</pre>
                <button @click="unsubscribe" class="text-white cursor-pointer ont-bold bg-blue-500 hover:bg-blue-600 border-round transition-colors transition-duration-150 p-2 border-none">Unsubscribe</button>
            </div>
            <button @click="subscribe" class="text-white cursor-pointer font-bold bg-blue-500 hover:bg-blue-600 border-round transition-colors transition-duration-150 p-2 border-none" v-else>
                Subscribe
            </button>
            <div>
                <h3>Messages</h3>
                <p v-for="msg in msgs">{{ msg }}</p>
                <a @click="clear" href="#">Clear messages</a>
            </div>
        </div>
        <script type="importmap">
            {
              "imports": {
                "firebase/app": "https://www.gstatic.com/firebasejs/9.23.0/firebase-app.js",
                "firebase/messaging": "https://www.gstatic.com/firebasejs/9.23.0/firebase-messaging.js",
                "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
              }
            }
        </script>
        <script type="module">

            import { initializeApp } from 'firebase/app';
            import { getMessaging, getToken, onMessage } from 'firebase/messaging'
            import { ref, createApp, onMounted } from 'vue'

            const vapidKey = 'BMTIrHUbvBXlQpWWeIDc2IMD_CPye0EW-XmOqzAtBvMkKy8bsRfx5YEfvQQ4Gp98XV2XAOcaz6o-x2bisVBNWXM'

            let serviceWorkerRegistration = null
            createApp({
                setup() {
                    const token = ref('')
                    const msgs = ref([])

                    function log(...other) {
                        console.log(...other);
                        msgs.value = [...msgs.value, ...other.map(str => typeof(str) ==='string' ? str : JSON.stringify(str, null, 2))]
                    }
                    function clear() {
                        msgs.value = []
                    }

                    const subscribe = async () => {
                        const permission = await Notification.requestPermission()
                        if (permission === 'granted') {
                            log('Notification permission granted.');
                            const messaging = getMessaging();

                            try {
                                const currentToken = await getToken(messaging, { vapidKey, serviceWorkerRegistration });
                                if (currentToken) {
                                    // Send the token to your server and update the UI if necessary
                                    localStorage.setItem('token', currentToken)
                                    token.value = currentToken
                                    log({ currentToken })

                                    const query = new URLSearchParams()
                                    query.append('token', currentToken)
                                    query.append('topic', 'calendar-' + 337667)

                                    const resp = await fetch('subscribe?' + query.toString(), {  method: 'POST' })
                                    if (resp.ok) {
                                        log('Subscribe success', await resp.json())
                                    } else {
                                        log('Subscribe failed', resp.status, resp.statusText)
                                    }

                                } else {
                                    log('No registration token available. Request permission to generate one.');
                                }
                            } catch (e) {
                                log('Exception: ' + e)
                            }
                        } else {
                            log('Notification permission: ' + permission)
                        }
                    }

                    const unsubscribe = async () => {
                        const query = new URLSearchParams()
                        query.append('token', token.value)
                        query.append('topic', 'calendar-' + 337667)
                        const resp = await fetch('unsubscribe?' + query.toString(), {  method: 'POST' })
                        if (resp.ok) {
                            log('Unsubscribe success', await resp.json())
                        } else {
                            log('Unsubscribe failed', resp.status, resp.statusText)
                        }
                    }

                    onMounted(async () => {
                        token.value = localStorage.getItem('token')

                        if (token.value) {
                            log({ token: token.value })
                        }

                        const firebaseConfig = {
                            apiKey: "AIzaSyBJ_cRfI7tvVZ_xlIk9QqF6eN29YD6xOAk",
                            authDomain: "nackswinget-af7ef.firebaseapp.com",
                            projectId: "nackswinget-af7ef",
                            storageBucket: "nackswinget-af7ef.appspot.com",
                            messagingSenderId: "560237127162",
                            appId: "1:560237127162:web:2e12c34e9e8fa521997043"
                        };

                        const app = initializeApp(firebaseConfig);

                        const messaging = getMessaging();
                        onMessage(messaging, (payload) => {
                            log('Message received. ', payload);
                        })

                        if ('serviceWorker' in navigator) {
                            try {
                                serviceWorkerRegistration = await navigator.serviceWorker.register('./firebase-messaging-sw.js')
                            } catch (e) {
                                serviceWorkerRegistration = await navigator.serviceWorker.register('./notifications-api/firebase-messaging-sw.js')
                            }
                            console.log('Registration successful, scope is:', serviceWorkerRegistration.scope);
                        }
                    })

                    return {
                        token,
                        subscribe,
                        unsubscribe,
                        msgs,
                        clear
                    }
                }
            }).mount('#app')

        </script>
        <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
        <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/themes/primeone-light.css">
    </body>
</html>