name: Pull Requests

on:
  pull_request:
    branches:
      - main

env:
  GCLOUD_REGION: europe-north1
  GCLOUD_SCHEDULER_REGION: europe-west6
  GCLOUD_BUCKET: nackswinget-af7ef.appspot.com
  TZ: Europe/Stockholm

permissions:
  contents: "read"
  id-token: "write"
  pull-requests: "write"

jobs:
  build-functions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build source
        run: pnpm --filter @nackswinget/functions run build

  test-functions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Test
        run: pnpm --filter @nackswinget/functions run test

  lint-functions:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Lint with reviewdog
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          workdir: "functions"

  build-apps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build source
        run: pnpm --filter @nackswinget/mobile run build
